<!-- Jumbotron -->
<div class="jumbotron">
  <h2>Learn languages together</h2>
  <p class="lead">
  Wikilango is a voice chatbot platform for language learning.  
  </p>
  
  <p ng-hide="auth.isAuthenticated"><a class="btn btn-lg btn-info" ng-href="#/signup" role="button">
  Sign Up for free</a></p>

  <br>

  <p>Watch this video to learn how Wikilango works.</p>

  <br>

	<div class="video-container">
	  <iframe width="853" height="480" src="//www.youtube.com/embed/2eqT6GXRMos?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>